<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Log In - Habit Tracker</title>
<link rel="stylesheet" href="/css/welcom.css">
</head>
<body>
<div class="container">
    <h1>Welcome back, User!</h1>
    <h1>Log In</h1>
    <form action="/signinData" method="post">
        <input type="text" name="username" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" class="btn">Log In</button>
    </form>
    <p>Don't have an account yet? <a class="link" href="/signupPage">Sign up here</a>.</p>
</div>
</body>
</html>
